@using Twitter.App.Models.ViewModels
@model IQueryable<TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="row">
        <div>
            @{ Html.RenderPartial("Tweet/_CreateTweetPartial"); }
        </div>
    </div>
}

@Html.Partial("_ViewTweetsPartial")