body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial,sans-serif;
    color: #292F33;
    font-size: 14px;
    line-height: 18px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.input-group {
    width: 70%;
}

.tweet-box {
    border-color: #BFE0EC !important;
    background-color: #E5F2F7;
    padding: 0;
    width: 100%;
    padding-top: 15px;
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
}

.create-tweet-box {
    border-color: #BFE0EC !important;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #E1E8ED;
    width: 95%;
    padding: 0;
    border-radius: 10px;
}

img {
    border: 0 none;
}

.avatar {
    width: 48px;
    margin-top: 3px;
    margin-left: 20px;
    height: 48px;
    border-radius: 5px;
    float: left;
    display: inline-block;
    margin-right: 3%;
}

.tweet-submit {
    width: 100%;
    float: right;
    width: 22%;
    margin-top: 1%;
    border: 1px solid #BFE0EC ;
    border-left: 1px solid #BFE0EC;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.form-tweet-create {
    display: inline-block;
    width: 85%;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-top: 3px;
    margin: auto;
    width: 95%;
    margin: 0 auto;
    margin: auto;
    margin-left: 2.3%;
}

.input-group-addon:last-child {
    border-left: 1px solid #BFE0EC;
    border-radius: 5px;
}

.input-group-addon:last-child:hover {
    border-left: none;
}

.bolded-item {
    font-weight: bold;
    display: inline-block;
}

.italic-item {
    font-style: italic;
    display: inline-block;
}

.like{
    margin-left: 20px;
}

.tweet-buttons {
    margin-left: 20px;
    padding-bottom: 15px;
}

.wrapper-new-tweet {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.display-inline-block {
    display: inline-block;   
}

#words {
    margin-left: 10px;
    display: inline-block;
}

.username-textbox {
    display: inline-block;
}

.unsuccess-validate {
    color: red;
}

.success-validate {
    color: green;
}

#search-text {
    display: inline-block;
}

.form-control {
    width: 50%;
}

.edit-profile-anchor {
    color: white;
    background: none;
    background-color: aquamarine;
}

.user-info {
    position: absolute;
    margin-top: 145px;
    margin-left: 250px;
}